/* Container principal */
.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

/* Formulários */
form {
    margin: 0 2rem;
}

/* Grupos de entrada */
.input-group {
    position: relative;
    margin-bottom: 1.5rem; /* Espaçamento entre grupos */
}

.input-group i {
    position: absolute;
    top: 50%; /* Centralizar verticalmente */
    left: 10px;
    transform: translateY(-50%);
    color: black;
}

/* Campos de entrada */
input {
    width: 100%;
    padding: 12px 10px 12px 40px; /* Espaço suficiente para ícones */
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}

/* Placeholder */
input::placeholder {
    color: transparent;
}

/* Rótulos */
label {
    position: absolute;
    left: 40px; /* Posicionar à direita do ícone */
    top: 50%;
    transform: translateY(-50%); /* Centralizar verticalmente */
    color: #757575;
    transition: 0.3s ease all;
}

/* Animação dos rótulos */
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -20px; /* Mover para cima */
    color: hsl(327, 90%, 28%);
    font-size: 0.85rem;
}

/* Botões */
.btn {
    font-size: 1.1rem;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(125, 125, 235);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: black;
}

/* Ícones de login alternativo */
.icons i {
    color: rgb(125, 125, 235);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover {
    background: black;
    font-size: 1.6rem;
    border: 2px solid rgb(125, 125, 235);
}

/* Links */
.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}
